<div class="modal-header" ng-style="{'background-color' : modal.style(modal.flight.colorLock||flight.color)}">
  <!--"modal.style(modal.flight.color)">-->
  <!--<button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close"><i class="fa fa-solid fa-window-close fa-autosize"></i></button>-->
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body wheat">
  <div ng-if="modal.metarModal">
    <div ng-repeat="metar in modal.airport.metars"><p style="font-weight:bold">{{metar}}</p></div>
  </div>
  
  <div ng-if="modal.weatherModal">
    <p>Previous Timestamp: {{modal.getTimestamp()}}</p>
    <p>Previous Signature: {{modal.manualObs.previousSignature}}</p>
    <div class="modal-timestamp-layout" style="align-items: center;">
      <div>
        <div style="height:44px"><input class="form-control" type="text" ng-model="modal.manualObs.visibility"></div>
        <div style="height:44px"><input class="form-control" type="text" ng-model="modal.manualObs.ceiling"></div>
        <div style="height:44px"><input class="form-control" type="text" ng-model="modal.manualObs.altimeter"></div>
        <div style="height:44px"><input class="form-control" type="text" ng-model="modal.manualObs.windDirection"></div>
        <div style="height:44px"><input class="form-control" type="text" ng-model="modal.manualObs.windSpeed"></div>
        <div style="height:44px"><input class="form-control" type="checkbox" ng-model="modal.manualObs.isOfficial"></div>
      </div>
      <div style="margin-top:12px">
        <div style="height:44px"><label>Visibility (10 for unlimited)</label></div>
        <div style="height:44px"><label>Ceiling (10000 for Clear)</label></div>
        <div style="height:44px"><label>Altimeter Setting</label></div>
        <div style="height:44px"><label>Wind Direction (0-360)</label></div>
        <div style="height:44px"><label>Wind Speed (kts)</label></div>
        <div style="height:44px"><label>Official Weather Source?</label></div>
      </div>
    </div>
    <div class="modal-contaminent-layout" style="align-items: center;">
      <div class="modal-column" style="text-align:right"><label>Entered By: </label></div>
      <div style="display:inline-block">
        <button class="btn btn-success" ng-click="modal.signClick()">
          <i class="fa fa-solid fa-pen fa-autosize" ></i></button>
          <span>{{modal.manualObs.signature}}</span></div>
      <!--<div class="modal-column"><input class="form-control" name="signature" type="text" ng-model="modal.formData.signature"></div>-->
      <div class="modal-column"><label>{{modal.getTimestamp()}}</label></div>
    </div>
  </div>
  
  <div ng-if="modal.airportModal">
    <div class="airport-modal" ng-class="modal.metarObj.color">
      <p style="margin:0px;padding:5px">Airport Overall</p>
      <p style="margin:0px;padding:5px" tooltip-placement="bottom" uib-tooltip="{{modal.metarObj['Raw-Report']}}">{{modal.metarObj.airport.threeLetter}}</p>
    </div>
    <div class="airport-modal" ng-class="modal.metarObj.visibilityColor">
      <p style="margin:0px;padding:5px">Visibility</p>
      <p style="margin:0px;padding:5px">{{modal.metarObj.Visibility}}</p>
    </div>
    <div class="airport-modal" ng-class="modal.metarObj.ceilingColor">
      <p style="margin:0px;padding:5px">Ceiling</p>
      <p style="margin:0px;padding:5px">{{modal.metarObj.Ceiling}}</p>
    </div>
    <div class="airport-modal" ng-class="modal.metarObj.windColor">
      <p style="margin:0px;padding:5px">Wind Gust/XWind</p>
      <p style="margin:0px;padding:5px">{{modal.metarObj['Wind-Gust']+' / '+modal.metarObj.xwind}}</p>
    </div>
    <div class="airport-modal" ng-class="modal.metarObj.runwayColor">
      <p style="margin:0px;padding:5px">Runway Score</p>
      <p style="margin:0px;padding:5px">{{modal.metarObj.airport.runwayScore+' / '+modal.metarObj.airport.openClosed}}</p>
    </div>
    <div class="airport-modal" ng-class="modal.metarObj.freezingColor">
      <p style="margin:0px;padding:5px">Freezing Precip</p>
      <p style="margin:0px;padding:5px">{{modal.metarObj.Freezing}}</p>
    </div>
    <div>
      <label>Check Below if You Want to Enter a Manual Observation</label>
      <input class="form-control" type="checkbox" ng-model="modal.manualOpen" ng-change="modal.console('manualOpen',modal.manualOpen)">
    </div>
    <div>
      <label>Check Below if You Want to See the Metar Trend</label>
      <input class="form-control" type="checkbox" ng-model="modal.requestMetarList" ng-change="modal.console('requestMetarList',modal.requestMetarList)">
    </div>
  </div>
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
  <div ng-if="modal.runway">
    <div class="modal-open-layout">
      <div class="modal-column"><label>Open/Closed</label></div>
      <div class="modal-column">
        <ui-select ng-style="modal.getWidth(20,'em')" ng-model="modal.formData.openClosed" theme="selectize" ng-change="modal.updateOpenClosed(modal.isOpen)">
            <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="choice in ['Open','Closed']" >
              <div ng-bind-html="choice | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <br>
    <label>Runway Score (0-5 Based on Reported Braking Action)</label>
    <ui-select ng-style="modal.getWidth(20,'em')" ng-model="modal.runwayObj" theme="selectize" ng-change="modal.updateRunwayScore(modal.runwayObj)">
        <ui-select-match placeholder="Choose...">{{$select.selected.score + ' - Braking ' + $select.selected.descr}}</ui-select-match>
        <ui-select-choices repeat="choice in modal.scores" >
          <div ng-bind-html="choice.score + ' - Braking ' + choice.descr | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <br>
    <label>Runway Contaminents</label>
    <div class="modal-contaminent-layout">
      <div class="modal-column">
        <label>Depth</label>
        <ui-select ng-style="modal.getWidth(10,'em')" ng-model="modal.depthDisp" theme="selectize" ng-change="modal.updateParam('depth',modal.depthDisp)">
            <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="choice in modal.depths" >
              <div ng-bind-html="choice | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="modal-column">
        <label>Contaminent Type</label>
        <ui-select ng-style="modal.getWidth(20,'em')" ng-model="modal.contaminentDisp" theme="selectize" ng-change="modal.updateParam('contaminent',modal.contaminentDisp)">
            <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="choice in modal.contaminents" >
              <div ng-bind-html="choice | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="modal-column">
        <label>Percent</label>
        <ui-select ng-style="modal.getWidth(7,'em')" ng-model="modal.percentDisp" theme="selectize" ng-change="modal.updateParam('percent',modal.percentDisp)">
            <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="choice in modal.percents" >
              <div ng-bind-html="choice | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
      </div>
    </div>
    
    <br>
    <label>Runway Comments</label>
    <textarea class="form-control" style="height:76px;" ng-model="modal.formData.comment"></textarea>
    <br>
    <div class="modal-contaminent-layout" style="align-items: end;">
      <div class="modal-column"><input class="form-control" type="checkbox" ng-model="modal.official"></div>
      <div class="modal-column"><label>Official Source</label></div>
      <div class="modal-column">
        <input class="form-control" type="text" ng-model="modal.formData.officialSource" ng-blur="modal.makeOfficial()" ng-style="modal.getWidth(300,'px')"></div>
    </div>
    <div class="modal-contaminent-layout" style="align-items: end;">
      <div class="modal-column"><input class="form-control" type="checkbox" ng-model="modal.unOfficial"></div>
      <div class="modal-column"><label>Unofficial Source</label></div>
      <div class="modal-column">
        <input class="form-control" type="text" ng-model="modal.formData.unOfficialSource" ng-blur="modal.makeUnOfficial()" ng-style="modal.getWidth(300,'px')"></div>
    </div>
    <br>
    <div class="modal-contaminent-layout" style="align-items: center;">
      <div class="modal-column" style="text-align:right"><label>Entered By: </label></div>
      <div style="display:inline-block">
        <button class="btn btn-success" ng-click="modal.signClick()">
          <i class="fa fa-solid fa-pen fa-autosize" ></i></button>
          <span>{{modal.formData.signature}}</span></div>
      <!--<div class="modal-column"><input class="form-control" name="signature" type="text" ng-model="modal.formData.signature"></div>-->
      <div class="modal-column"><label>{{modal.timestampObj.timestampString}}</label></div>
    </div>
    <br>
    <!--<p>Previous Timestamp: {{modal.getMyDate(modal.formData.timestamp)}}</p>-->
    <div class="modal-timestamp-layout" style="align-items: end;">
      <div class="modal-column"><input class="form-control" name="timestamp" type="text" ng-model="modal.timestamp" placeholder="MM/DD/YYYY HH:MM" ng-blur="modal.timestampChange(modal.timestamp)"></div>
      <div class="modal-column"><label>Manual Timestamp (Click to Change)</label></div>
      <!--<div class="modal-column"><input class="form-control" name="isManualTimestamp" type="checkbox" ng-model="modal.isManualTimestamp"></div>-->
    </div>
    <br>
    <div class="modal-checkbox-layout" style="align-items: end;">
      <div class="modal-column"><input class="form-control" name="nonPilot" type="checkbox" ng-model="modal.formData.nonPilot"></div>
      <div class="modal-column"><label>Reported by Agent/Dispatch/DOT</label></div>
    </div>
  </div>
  <div ng-if="modal.flightModal">
    <div name="FLIGHT INFO" >
      <div class="orange-line">
        <div class="inner-modal" ng-click="modal.showFlightInfo=!modal.showFlightInfo">
          <span class="span-modal" style="float:left; padding-left:5px;font-weight:bold;">
            FLIGHT INFO&nbsp;
            <i ng-class="modal.upOrDown(modal.showFlightInfo)"></i>  
          </span>
        </div>
      </div>
      <!--<div style="height:2px;line-height:2px"><span style="line-height:2px">.</span></div>-->
      <div ng-show="modal.showFlightInfo">
        <div class="orange-line white" ng-repeat="item in modal.flightInfo track by $index">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">{{item.title}}</span>
            <span class="span-modal" style="float:right; padding-right:5px">{{item.val}}</span>
          </div>
        </div>
        
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">Alternate</span>
            <span class="span-modal" style="float:right; padding-right:5px">
              <ui-select ng-style="modal.getWidth(15,'em')" style="line-height:28px;height:28px" ng-model="modal.alternateDisp" ng-disabled="modal.allDisabled()" theme="selectize" ng-change="modal.updateParam('alternate',modal.alternateDisp)">
                  <ui-select-match style="line-height:28px;height:28px" placeholder="None">{{$select.selected}}</ui-select-match>
                  <ui-select-choices repeat="choice in modal.alternates" >
                    <div ng-bind-html="choice | highlight: $select.search"></div>
                  </ui-select-choices>
              </ui-select>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="orange-line">
        <div class="inner-modal" ng-click="modal.showAircraftInfo=!modal.showAircraftInfo">
          <span class="span-modal" style="float:left; padding-left:5px;font-weight:bold;">
            AIRCRAFT&nbsp;
            <i ng-class="modal.upOrDown(modal.showAircraftInfo)" ></i>  
          </span>
        </div>
      </div>
      <div ng-show="modal.showAircraftInfo">
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">N-Number</span>
            <span class="span-modal" style="float:right; padding-right:5px">{{modal.flight.aircraft}}</span>
          </div>
        </div>
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">Type</span>
            <span class="span-modal" style="float:right; padding-right:5px">{{modal.flight.equipment.name}}</span>
          </div>
        </div>
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">Configuration</span>
            <span class="span-modal" style="float:right; padding-right:5px">{{modal.flight.status}}</span>
          </div>
        </div>
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">MEL</span>
            <span class="span-modal" style="float:right; padding-right:5px">
              <input style="width:300px; height:27px; text-align: right; " type="text" ng-model="modal.flight.mel" ng-disabled="modal.allDisabled()">
            </span>
          </div>
        </div>
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">Aircraft Other</span>
            <span class="span-modal" style="float:right; padding-right:5px">
              <input style="width:300px; height:27px; text-align: right;" type="text" ng-model="modal.flight.other" ng-disabled="modal.allDisabled()">
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="orange-line">
        <div class="inner-modal"  ng-click="modal.showOWEInfo=!modal.showOWEInfo">
          <span class="span-modal" style="float:left; padding-left:5px;font-weight:bold;">
            OWE Calculator&nbsp;
            <i ng-class="modal.upOrDown(modal.showOWEInfo)"></i>  
          </span>
        </div>
      </div>
      <div ng-show="modal.showOWEInfo">
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">BEW (As Weighed)</span>
            <span class="span-modal" style="float:right; padding-right:5px">{{modal.flight.bew.bew}}</span>
          </div>
        </div>
        <div class="orange-line white" ng-show="modal.flight.equipment.name==='Caravan'">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">#Seats Removed from A/C (9 max)</span>
            <span class="span-modal">
              <input style="width:75px; height:27px; text-align: center;" type="text" ng-model="modal.flight.bew.seatsRemoved" ng-disabled="modal.allDisabled()">
            </span>
            <span class="span-modal" style="float:right; padding-right:5px">{{modal.calcSeatWeight(modal.flight.bew.seatsRemoved)}}</span>
          </div>
        </div>
        <div class="orange-line white" ng-repeat="item in modal.bewInfo track by $index">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">{{item.title}}</span>
            <span class="span-modal" style="float:right; padding-right:5px">
              <input style="width:75px; height:27px; text-align: right;" type="text" ng-model="modal.flight.bew[item.val]" ng-disabled="modal.allDisabled()">
            </span>
          </div>
        </div>
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">Jumpseater Bag and Body Wt</span>
            <span class="span-modal">
              <input style="width:75px; height:27px; text-align: right;" type="text" ng-model="modal.flight.jumpseaterObject.bagWt" ng-disabled="modal.allDisabled()">
            </span>
            <span class="span-modal" style="float:right; padding-right:5px">
              <input style="width:75px; height:27px; text-align: right;" type="text" ng-model="modal.flight.jumpseaterObject.bodyWt" ng-disabled="modal.allDisabled()">
            </span>
          </div>
        </div>
        <!--<div class="orange-line white" ng-show="modal.flight.equipment.name==='Caravan'">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">TKS</span>
            <!--<span class="span-modal">
              <input style="width:75px; height:27px; text-align: center;" type="text" ng-model="modal.flight.bew.tks" ng-disabled="modal.allDisabled()">
              &nbsp;Gallons
            </span>
            <span class="span-modal" style="float:right; padding-right:5px">{{modal.tksCalc()}}</span>
          </div>
        </div>-->
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left; padding-left:5px;">Calculated OWE (to be entered on iPad)</span>
            <span class="span-modal" style="float:right; padding-right:5px">{{modal.oweCalc()}}</span>
          </div>
        </div>
        <div class="orange-line white">
          <div class="inner-modal">
            <span class="span-modal" style="float:left;padding-left:5px">Takeoff Fuel</span>
            <span class="span-modal" ng-class="modal.fuelSanity(modal.flight.pfr.legArray[0].fuel)">{{modal.fuelCalc()}}&nbsp;Hours</span>
            <span class="span-modal" style="float:right; padding-right:5px" >{{modal.flight.pfr.legArray[0].fuel}}</span>
          </div>
        </div>
      </div>
      <br>
      <!--<p style="color:red; font-style:italic;margin-bottom:0px">If flight is conducted into known icing conditions, C208 aircraft will reduce MGTOW to arrive in the icing environment at or below 8807 lbs.  All aircraft must adhere to AFM flight into known icing limitations.</p>-->
      
     <div class="orange-line">
        <div class="inner-modal"  ng-click="modal.showFuelInfo=!modal.showFuelInfo">
          <span class="span-modal" style="float:left; padding-left:5px;font-weight:bold;">
            FUEL REQUEST CALCULATOR&nbsp;
            <i ng-class="modal.upOrDown(modal.showFuelInfo)"></i>  
          </span>
        </div>
      </div>
     <div ng-show="modal.showFuelInfo">
        <div style="border:1px solid black;">
          <div class="white">
            <div class="inner-modal">
              <span class="span-modal" style="float:left; padding-left:5px;font-weight:bold">FUEL REQUEST</span>
              <span class="span-modal" style="float:right; padding-right:5px">
                EnterTotalizer FOB lbs&nbsp;
                <input style="width:75px; height:27px; text-align: right;" type="text" ng-model="modal.flight.fuelPreviouslyOnboard" ng-disabled="modal.allDisabled()">
              </span>
            </div>
          </div>
          <div class="white">
            <div class="inner-modal">
              <span class="span-modal" style="float:left; padding-left:5px;font-weight:bold">Fill To: POUNDS</span>
              <span class="span-modal" style="font-weight:bold">{{(modal.flight.pfr.legArray[0].fuel+modal.flight.equipment.taxiFuel)/2}}&nbsp;lbs/side</span>
              <span class="span-modal" style="float:right; padding-right:5px;font-weight:bold">{{modal.flight.pfr.legArray[0].fuel+modal.flight.equipment.taxiFuel}}&nbsp;lbs total</span>
            </div>
          </div>
          <div class="white">
            <div class="inner-modal">
              <span class="span-modal" style="float:left; padding-left:5px;font-weight:bold">ADD: GALLONS</span>
              <span class="span-modal" style="font-weight:bold">{{modal.getRequest(modal.flight.fuelTotalTaxi,modal.flight.fuelPreviouslyOnboard).main||0}}&nbsp;gal/side</span>
              <span class="span-modal" style="float:right; padding-right:5px;font-weight:bold">{{modal.getRequest(modal.flight.fuelTotalTaxi,modal.flight.fuelPreviouslyOnboard).main*2||0}}&nbsp;gal total</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <p style="color:red; font-style:italic;margin-bottom:0px">Flight Into Known Icing (FIKI) conditions is determined by:</p>
      <p style="color:red; font-style:italic;margin-bottom:0px">1. Reference to <strong>AAWU 3HR Icing Forecast</strong> at Foreflight>Imagery.</p>
      <p style="color:red; font-style:italic;margin-bottom:0px">2. Reference to <strong>PIREP's</strong> less than 1HR old along route/altitude of flight.</p>
      <p style="color:red; font-style:italic;margin-bottom:0px" ng-if="modal.flight.equipment.name==='Caravan'">C208: reduce MGTOW to arrive in icing area at or below 8807 lbs.</p>
      <p style="color:red; font-style:italic;margin-bottom:0px" ng-if="modal.flight.equipment.name!=='Caravan'">ALL AIRCRAFT: Adhere to AFM icing limitations.</p>
      <div class="modal-environment-layout" style="font-weight:bold;">
       <div class="modal-column">
         <table class="table table-borderless">
           <tr>
             <td><span style="padding-top:5px;margin-top:5px">FIKI?</span></td>
             <td><input class="form-control" style="margin:0;padding:0;width:30px" name="isKnownIcing" type="checkbox" ng-model="modal.flight.knownIce" ng-disabled="modal.allDisabled()"></td>
             <td><span style="padding-top:5px;margin-top:5px">OTHER:</span></td>
             <td><input style="padding-top:5px;margin-top:5px" ng-style="modal.getWidth(300,'px')" name="otherEnvironment" type="text" ng-model="modal.flight.otherEnvironment" ng-disabled="modal.allDisabled()"></td>
           </tr>
         </table>
       </div>
     </div>
      <div class="orange-line white">
        <div class="inner-modal">
          <span class="span-modal" style="float:left;padding-left:5px;font-weight:bold;">MGTOW</span>
          <span class="span-modal" style="float:right; padding-right:5px;font-weight:bold;">{{modal.flight.pfr.legArray[0].mgtow}}</span>
        </div>
      </div>
      <div class="orange-line white" ng-repeat="item in modal.summaryInfo track by $index" ng-hide="(modal.flight.equipment.name==='Caravan'&&item.title==='MaxZFW')||(modal.flight.equipment.name!=='Caravan'&&item.title==='TKS')" ng-style="{'font-weight' : item.title==='T/O Fuel' ? 'bold' : '100'}">
        <div class="inner-modal">
          <span class="span-modal" style="float:left;padding-left:5px;">{{item.title}}</span>
          <span class="span-modal" ng-if="item.title==='TKS (From iPad)'">
            <!--<input style="width:75px; height:27px; text-align: center;" type="text" ng-model="modal.flight.bew.tks" ng-disabled="modal.allDisabled()">-->
            {{modal.tksCalc().gals}}&nbsp;Gallons
          </span>
          <span class="span-modal" ng-class="modal.fuelSanity(modal.flight.pfr.legArray[0].fuel)"  ng-if="item.title==='T/O Fuel'">
            {{modal.fuelCalc()}}&nbsp;Hours
          </span>
          <span class="span-modal" ng-if="item.title==='OWE'&&modal.flight.equipment.name==='Caravan'">
            (Does Not Include TKS)
          </span>
          <span class="span-modal" style="float:right; padding-right:5px;">{{item.val}}</span>
        </div>
      </div>
      
      
    </div>
  
    <br>
    <div>
      <div class="orange-line white">
        <div class="inner-modal">
          <span class="span-modal" style="float:left;padding-left:5px;font-weight:bold;">CREW</span>
          <!--<span class="span-modal" style="float:right; padding-right:5px;font-weight:bold;">{{modal.flight.pfr.legArray[0].mgtow}}</span>-->
        </div>
      </div>
      <div class="orange-line white">
        <div class="inner-modal">
          <span class="span-modal" style="float:left;padding-left:5px;font-weight:bold;">{{modal.flight.pilotObject.displayName||modal.flight.pilot}}</span>
          <span class="span-modal" style="float:right; padding-right:5px;font-weight:bold;">
            <input style="width:400px; height:27px; text-align: center;" type="text" ng-model="modal.flight.pilotComment" ng-disabled="modal.allDisabled()">
          </span>
        </div>
      </div>
      <div class="orange-line white" ng-if="modal.flight.coPilotObject.displayName||modal.flight.coPilot">
        <div class="inner-modal">
          <span class="span-modal" style="float:left;padding-left:5px;font-weight:bold;">{{modal.flight.coPilotObject.displayName||modal.flight.coPilot}}</span>
          <span class="span-modal" style="float:right; padding-right:5px;font-weight:bold;">
            <input style="width:400px; height:27px; text-align: center;" type="text" ng-model="modal.flight.coPilotComment" ng-disabled="modal.allDisabled()">
          </span>
        </div>
      </div>
      <div class="orange-line white">
        <div class="inner-modal">
          <span class="span-modal" style="float:left;padding-left:5px;font-weight:bold;">Jumpseater</span>
          <span class="span-modal" style="font-weight:bold; padding-left:7px"><input style="width:150px; height:27px; text-align: center;"  type="text" ng-model="modal.flight.jumpseaterObject.name" ng-disabled="modal.allDisabled()"></span>
          <span class="span-modal" style="float:right; padding-left:7px;padding-right:5px;font-weight:bold;">
            <ui-select style="line-height:28px;height:28px;width:200px" ng-model="modal.jumpseatDisp" ng-disabled="modal.allDisabled()" theme="selectize" ng-change="modal.updateParam('jumpseat',modal.jumpseatDisp)">
              <ui-select-match style="line-height:28px;height:28px" placeholder="None">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="choice in modal.reasons" >
                <div style="line-height:28px;height:28px" ng-bind-html="choice | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </span>
        </div>
      </div>
    </div>
    <div class="orange-line white" ng-show="modal.flight.jumpseaterObject.name">
      <div class="inner-modal">
        <span class="span-modal" style="float:left;padding-left:5px;font-weight:bold;">Bag/Body Wt</span>
        <span class="span-modal" style="font-weight:bold; padding-left:7px">
          <input style="width:150px; height:27px; text-align: center;" type="text" ng-model="modal.flight.jumpseaterObject.bagWt" ng-disabled="modal.allDisabled()">
        </span>
        <span class="span-modal" style="float:right; padding-left:7px;padding-right:5px;font-weight:bold;">
          <input style="width:150px; height:27px; text-align: center;" type="text" ng-model="modal.flight.jumpseaterObject.bodyWt" ng-disabled="modal.allDisabled()">
        </span>
      </div>
    </div>
    <br>
    <hr class="my-hr">
    <div>
      <p style="font-weight:bold">ENVIRONMENT</p>
      <div ng-repeat="metarObj in modal.flight.airportObjsLocked track by $index" ng-click="modal['showInfo'+$index]=!modal['showInfo'+$index]">
        <br>
        <div class='airport-card' ng-class="metarObj.color">
          <p style="margin:0px;padding:5px;text-align:center;width:60px;" tooltip-placement="bottom" uib-tooltip="{{metarObj['Raw-Report']}}"
                >{{metarObj.airport.threeLetter}}</p>
        </div>
        <span style="font-weight:bold">&nbsp;&nbsp;&nbsp;{{modal.getDestinationType($index)}}</span>
        <span style="font-weight:bold">
          {{modal.flight.departTimesZulu[$index]}}&nbsp;
            <span ng-show="modal.flight.pfr.legArray[$index].fuel">Fuel:&nbsp;{{modal.Math.round(modal.flight.pfr.legArray[$index].fuel)}}&nbsp;lbs</span>
            <i ng-class="modal.upOrDown(modal['showInfo'+$index])"></i>  
        </span>
        <div ng-show="modal['showInfo'+$index]">
          <p style="font-weight:bold; margin-left:0.5em; margin-bottom:0px">{{metarObj['Raw-Report']}}</p>
          <p style="font-weight:bold; margin-left:0.5em; margin-bottom:0px" ng-if="metarObj.taf">TAF: {{metarObj.taf}}</p>
          <p style="font-weight:bold; margin-left:0.5em; margin-bottom:0px" ng-if="false&&metarObj.airport.manualObs">Ceiling: {{metarObj.airport.manualObs.ceiling}}</p>
          <p style="font-weight:bold; margin-left:0.5em; margin-bottom:0px">RUNWAY {{metarObj.airport.icao+' '+metarObj.airport.openClosed+', '+modal.formatScore(metarObj.airport.runwayScore)+' '+metarObj.airport.comment}}</p>
        </div>
      </div>
      <br>
      <div ng-hide="modal.flight.alternate" class="orange-line white">
        <div class="inner-modal">
          <span class="span-modal" style="float:left; padding-left:5px;">Alternate</span>
          <span class="span-modal" style="float:right; padding-right:5px">
            <ui-select ng-style="modal.getWidth(15,'em')" style="line-height:28px;height:28px" ng-model="modal.alternateDisp" ng-disabled="modal.allDisabled()" theme="selectize" ng-change="modal.updateParam('alternate',modal.alternateDisp)">
                <ui-select-match style="line-height:28px;height:28px" placeholder="None">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="choice in modal.alternates" >
                  <div ng-bind-html="choice | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
          </span>
        </div>
      </div>
      <div ng-show="modal.flight.alternate">
        <div class='airport-card' ng-class="modal.flight.altObj.metarObj.color">
          <p style="margin:0px;padding:5px;text-align:center;width:60px;" tooltip-placement="bottom" uib-tooltip="{{modal.flight.altObj.currentMetar}}"
                >{{modal.flight.altObj.threeLetter}}</p>
        </div>
        <span style="font-weight:bold">&nbsp;&nbsp;&nbsp;Alternate</span>
        <span style="font-weight:bold; color:lightblue" ng-click="modal.clearAlternate()">&nbsp;&nbsp;&nbsp;Click To Clear</span>
        <p style="font-weight:bold; margin-left:0.5em; margin-bottom:0px">{{modal.flight.altObj.currentMetar}}</p>
        <p style="font-weight:bold; margin-left:0.5em; margin-bottom:0px">TAF: {{modal.flight.altObj.currentTaf}}</p>
        <p style="font-weight:bold; margin-left:0.5em; margin-bottom:0px">RUNWAY {{modal.flight.altObj.icao+' '+modal.flight.altObj.openClosed+', '+modal.formatScore(modal.flight.altObj.runwayScore)+' '+modal.flight.altObj.comment}}</p>
        <br>
      </div>
    </div>
    <hr class="my-hr">
    <div style="font-weight:bold;">
      <table class="table table-borderless">
        <tr><td>ENTER PFR REMARK HERE</td></tr>
        <tr><td><input ng-style="modal.getWidth(500,'px')" name="security" type="text" ng-model="modal.securityDisp" ng-disabled="modal.allDisabled()" ng-blur="modal.updateParam('security',modal.securityDisp)"></td></tr>
      </table>
    </div>
    <hr class="my-hr">
    <p>I certify that the requirements of GOM 05.29 Flight Release have been met:</p>
    <table class="table table-borderless">
      <tr>
        <td><p style="padding-top:5px; margin-top:7px; ">DISPATCHER</p></td>
        <td>
          <div style="display:inline-block" >
            <button class="btn btn-success" ng-click="modal.dispatchClick()" ng-disabled="modal.ocRequired(modal.flight.color) || modal.moreThanOneHour() || !modal.isAdmin || modal.noPfr() || modal.flight.pfr.legArray[0].fuel<1 || modal.flight.knownIce || modal.allDisabled()">
                <i class="fa fa-solid fa-pen fa-autosize" ></i></button>
            <span>{{modal.flight.dispatchRelease}}</span>
            <span style="display:inline-block;padding-left:15px;height:45px;width:60px" ng-click="modal.dispatchInfo()"><i class="fa fa-solid fa-info-circle fa-autosize"></i></span>
          </div>
        <td><p style="padding-top:5px; margin-top:7px;">/</p></td>
        <td><p style="padding-top:5px; margin-top:7px;">{{modal.formatTimestamp(modal.flight.dispatchReleaseTimestamp)}}</p></td>     
      </tr>
      <tr>
        <td><p style="padding-top:5px; margin-top:7px; ">OC MANAGER</p></td>
        <td>
          <div style="display:inline-block" >
            <button class="btn btn-success" ng-click="modal.ocClick()" ng-disabled="!modal.ocRequired(modal.flight.color) || modal.moreThanOneHour() || !modal.isSuperAdmin || modal.noPfr() || modal.flight.pfr.legArray[0].fuel<1 || modal.allDisabled()">
                <i class="fa fa-solid fa-pen fa-autosize" ></i></button>
            <span>{{modal.flight.ocRelease}}</span>
            <span style="display:inline-block;padding-left:15px;height:45px;width:60px" ng-click="modal.ocInfo()"><i class="fa fa-solid fa-info-circle fa-autosize"></i></span>
          </div>
        </td>  
        <td><p style="padding-top:5px; margin-top:7px;">/</p></td>
        <td><p style="padding-top:5px; margin-top:7px;">{{modal.formatTimestamp(modal.flight.ocReleaseTimestamp)}}</p></td>     
      </tr>
    </table>
    <p>My crew is fit to fly, I have reviewed all pertinent information, and can operate this flight safely:</p>
    <table class="table table-borderless">
      <tr>
        <td><p style="padding-top:5px; margin-top:7px; ">CAPTAIN</p></td>
        <td>
          <div style="display:inline-block" >
            <button class="btn btn-success" ng-click="modal.pilotClick()" ng-disabled="modal.isPilotDisabled()">
                <i class="fa fa-solid fa-pen fa-autosize"></i></button>
            <span>{{modal.flight.pilotAgree}}</span>
            <span style="display:inline-block;padding-left:15px;height:45px;width:60px" ng-click="modal.pilotInfo()"><i class="fa fa-solid fa-info-circle fa-autosize" ></i></span>
          </div>
        </td>  
        <!--<td><input name="pilotAgree" type="text" ng-model="modal.pilotAgree" ng-blur="modal.acceptSig(modal.pilotAgree)" ng-disabled="modal.pilotDisabled(modal.flight) || modal.moreThanOneHour() || modal.flight.pilotAgree"></td>-->
        <td><p style="padding-top:5px; margin-top:7px;">/</p></td>
        <td><p style="padding-top:5px; margin-top:7px;">{{modal.formatTimestamp(modal.flight.releaseTimestamp)}}</p></td>     
      </tr>
    </table>
    <div ng-if="!modal.allDisabled()" style="background-color:red"><h2 style="color:white;font-weight:bold; text-align:center">NOT SIGNED</h2></div>
    <div ng-if="true">
      <label>Changes While Enroute/After Release</label>
      <textarea class="form-control" style="height:76px;" ng-model="modal.flight.enrouteChanges" ng-disabled="modal.flight.flightStatus==='Completed'"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>
