node_modules
public
.tmp
.idea
client/bower_components
dist
server/app.js
server/firebase.json
server/config/local.env.js
server/config/environment/development.js
server/fileserver/*
!server/fileserver/.gitkeep
npm-debug.log
coverage
Dockerfile
docker.env
script.sh
*.sqlite
package.dist.json