node_modules
.tmp
.idea
client/bower_components
dist
server/firebase.json
server/config/local.env.js
server/config/environment/development.js
server/fileserver/*
!server/fileserver/.gitkeep
server/api/todaysFlight/todaysFlight.controller.1.js
npm-debug.log
coverage
Dockerfile
docker.env
.env
script.sh
*.sqlite
package.dist.json