<navbar></navbar>
<div ng-show="status.spinner" class="myspinner"></div>
<div style="background-color:black">
    <div style="display: flex;justify-content: center;">
      <div style="width:90%;text-align:center;">
        <!--<span style="float:left;height:68px;line-height:68px;">
          <h3 style="color:white;" ng-style="public.getFontSize(24,'px')">Departures <img src="assets/images/kingair.png" alt="logo" /> BERING AIR</h3> "assets/images/kingair.png"
        </span>-->
        <span style="float:left;color:white;margin:0px;padding:0px;" ng-style="public.getFontSize(30,'px',1.5)">Departures <img ng-src="{{public.getKingAir()}}" alt="logo" /> <strong class="annapurna-sil-bold">BERING AIR</strong></span>
        <span ng-style="public.getFontSize(30,'px',1.5)">
            <ui-select class="public-span" 
                style="width:150px;filter:invert(100%);font-weight:bold;display:inline-block;" 
                ng-model="public.base" theme="selectize" ng-change="public.sort()">
              <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="choice in public.bases" >
                <div ng-bind-html="choice | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>  
          </span>
        <span style="float:right;color:white;margin:0px;padding:0px;" ng-style="public.getFontSize(30,'px',1.5)">
        
            {{public.dateString+' '+public.timeString}}
          
        </span>
      </div>
    </div>
    <div ng-repeat="flight in public.flights | orderBy:'departTimes[0]'" style="display: flex;justify-content: center;">
      <div class="grid-parent-public" ng-class="public.background(flight)">
          <div style="text-align:center">
            <p ng-style="public.getFontSize(20,'px')">
              {{flight.flightNum}}
            </p>
          </div>
          <div style="text-align:center">
            <p ng-style="public.getFontSize(20,'px')">
              {{public.arrayToString(flight.airports)}}
            </p>
          </div>
          <div style="text-align:center">
            <p style="color:white" ng-style="public.getFontSize(20,'px')" ng-class="public.isLineThrough(flight)">
              {{flight.departTimes[0].substring(0,5)}}
            </p>
            <p ng-style="public.getFontSize(20,'px')">
              <strong style="color:green">{{flight.tfliteDepart}}</strong>
            </p>
          </div>
          <div style="text-align:center">
            <p ng-style="public.getFontSize(20,'px')">
              <strong ng-style="public.getStatusColor(flight)">{{public.getFlightStatus(flight.flightStatus)}}</strong>
            </p>
          </div>
          <div style="text-align:center">
            <p ng-style="public.getFontSize(20,'px')">
              {{flight.pilotObject.firstName||flight.pilot}}
              <strong ng-if="flight.coPilot">and &nbsp{{flight.coPilotObject.firstName||flight.coPilot||''}}</strong>
            </p>
            <p ng-class="public.getFontColor(flight.flightStatus)" ng-style="public.getFontSize(20,'px')">
              {{flight.equipment.name}}
            </p>
          </div>
      </div>
    </div>
    
</div>