
.layout-OME {
  width: 100%;
  display: grid;
  grid:
    ". . . . ."
    / 2fr 3fr 1fr 1fr 1fr;
  gap: 8px;
}

.layout-phone {
  width:100%;
  display: grid;
  grid-gap: 10px;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  overflow-x: scroll;
}

.layout-OTZ {
  width: 100%;

  display: grid;
  grid:
    ". . . ."
    / 2fr 1fr 1fr 3fr;
  gap: 8px;
}

.layout-UNK {
  width: 100%;

  display: grid;
  grid:
    ". . . ."
    / 2fr 1fr 1fr 3fr;
  gap: 8px;
}

.layout-HEL {
  width: 100%;

  display: grid;
  grid:
    ". . . ."
    / 1fr 1fr 3fr;
  gap: 8px;
}

.sidebar { grid-area: sidebar; }
.body { grid-area: body; }

.myGrid{
  height:calc(100vh - 60px);
}

.ui-grid-icon-angle-down{
  display:none;!important
}

.status-column{
  height:calc(100vh - 60px);
  font-size:1.5em;
  overflow:auto;
}

.status-column-flights{
  font-size:1.5em;
}

.status-column-phone{
  width: 100vw;
  grid-row: 1;
  grid-column: auto;
  height:calc(100vh - 60px);
  font-size:1.5em;
  overflow:auto;
}

.status-column-flights-phone{
  width: 100vw;
  grid-row: 1;
  grid-column: auto;
  font-size:1.5em;
}

.todays-flights{
  height:70vh;
  overflow:auto;
}

.alts{
  height:calc(30vh - 60px);
  overflow:auto;
}

.status-column-header{
    font-size:2em;
}

.below-header{
  position:sticky;
  top:10vh;
}

.status-header{
  position:sticky;
  top: 0;
}

.smaller{
  font-size:0.75em;
  font-weight:bold;
  color:red;
}

.airport-card{
  display:inline-block;
  margin-left:0.5em;
  border:1px solid black;
}

.airport-modal{
  font-weight:bold;
  text-align:center;
  margin:1em;
  padding:1em;
  border:1px solid black;
}

.night{
  border:5px solid black;
}

.unofficial{
  outline:7px solid orange;
}

.oc{
  background-color: lightgreen;
}

.notOc{
  border:1px solid black;
}

.grid-parent{
  display: grid; 
  grid-template-columns: 2fr 1fr 6fr; 
  grid-gap: 0px; 
  border: 1px solid black; 
  width: 100%; 
}

.grid-parent-airport{
  display: grid; 
  grid-template-columns: 1fr 9fr; 
  grid-gap: 0px; 
  width: 100%; 
  padding-left:0.5em;
  align-items:center;
}

.grid-parent-right{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 0px; 
  align-items:center;
  border: 1px solid black; 
  width: 100%; 
}

.grid-parent-navbar{
  display: grid; 
  grid-template-columns: 4fr 1fr;
  grid-gap: 0px;
}

.inactive{
  background-color: lightgray;
  opacity: 0.5;
}

.stopped{
  background-color: pink;
}

.comment{
  text-align:center;
  background: rgba(51, 170, 51, .02);
}

.airport{
  font-size:1.5em;
  text-align:center;
}

.alternate-airport{
  display:inline-block;
  font-size:1.5em;
  text-align:center;
  margin:10px;
  padding:10px;
}

.airport-gray{
  background-color:lightgray;
  font-weight:bold;
}

.airport-green{
  background-color:lightgreen;
  font-weight:bold;
}

.airport-pink{
  background-color:#ff0033;
  font-weight:bold;
  color:white;
}

div.airport-pink h1{
  background-color:#ff0033;
  font-weight:bold;
  color:white;
}

.airport-yellow{
  background-color:yellow;
  font-weight:bold;
}

.airport-orange{
  background-color:orange;
  font-weight:bold;
}

.airport-blue{
  background-color:lightblue;
  font-weight:bold;
}

.airport-purple{
  background-color:#DAB1DA;
  font-weight:bold;
}

.chosen{
  border:2px dashed green;  
  padding:0.03em 0.25em;
}

.light-border{
  font-size: 0.75em;
  border:1px solid black;
}

.assess{
  padding:7px;
  margin:7px;
}

.tiny{
  font-size:.5em;
  margin:0px;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.myspinner {
       position: absolute;
       left: 50%;
       top: 50%;
       height:60px;
       width:60px;
       margin:0px auto;
       -webkit-animation: rotation .6s infinite linear;
       -moz-animation: rotation .6s infinite linear;
       -o-animation: rotation .6s infinite linear;
       animation: rotation .6s infinite linear;
       border-left:6px solid rgba(0,174,239,.15);
       border-right:6px solid rgba(0,174,239,.15);
       border-bottom:6px solid rgba(0,174,239,.15);
       border-top:6px solid rgba(0,174,239,.8);
       border-radius:100%;
    }
    
    @-webkit-keyframes rotation {
       from {-webkit-transform: rotate(0deg);}
       to {-webkit-transform: rotate(359deg);}
    }
    @-moz-keyframes rotation {
       from {-moz-transform: rotate(0deg);}
       to {-moz-transform: rotate(359deg);}
    }
    @-o-keyframes rotation {
       from {-o-transform: rotate(0deg);}
       to {-o-transform: rotate(359deg);}
    }
    @keyframes rotation {
       from {transform: rotate(0deg);}
       to {transform: rotate(359deg);}
    }
