<div ng-show="status.spinner" class="myspinner"></div>
<navbar></navbar><!--style="background-color:rgba(51, 170, 51, .02);" -->
<section ng-class="status.getLayout()" style="background-color:#ffffcc;" ng-if="status.Auth.isUser()&&status.view==='board'">
  <div ng-if="status.fixedWing()" ng-class="status.getColumn()">
      <div class="grid-parent" ng-repeat="airport in status.airports track by airport._id">
        <div class="airport" ng-class="status.airportClass(airport)"
              tooltip-placement="right" uib-tooltip="{{airport.metarObj.taf}}">
          <h1 ng-mousedown="status.handleClick($event,airport,'taf')" id="airport{{airport._id}}">
            {{airport.threeLetter}}
          </h1>
        </div>
        <div class="comment" ng-click="status.sign(airport)" ng-class="status.nonPilot(airport.nonPilot)">
          <p class="tiny">ReportedBy:</p>
          <p class="tiny">{{airport.signature}}</p>
          <p class="tiny" ng-if="airport.signature">{{status.getDate(airport.timestamp)}}</p>
        </div>
        <div class="comment" ng-click="status.sign(airport)" ng-class="status.nonPilot(airport.nonPilot)">
          <p>{{airport.comment}}</p>
        </div>
      </div>
  </div>
  <div ng-class="status.getColumnFlights()">
    <div class="todays-flights"><!---->
     <!--<div ng-repeat="flight in status.todaysFlights track by flight._id" ng-show="status.todaysFlightDisplayFilter(flight)" ng-class="status.getFlightColor(flight)">-->
     <div ng-repeat="flight in status.todaysFlights | filter:status.todaysFlightDisplayFilter | orderBy:'departTimes[0]'" id="{{flight._id}}" ng-class="status.getFlightColor(flight)">
     <!--<div ng-repeat="flight in status.filteredFlights track by flight._id" id="{{flight._id}}" ng-class="status.getFlightColor(flight)">-->
      <div ng-show="flight.active==='true'" class="light-border" ng-class="status.activeClass(flight.active)">
        <div class="grid-parent-airport">
          <div>
            <p style="margin:10px; padding:10px; border:1px solid black; text-align:center; min-width:6em;" ng-class="flight.colorLock||flight.color" 
                    ng-click="status.lookAtFlight(flight)">
              {{status.getFlightNum(flight)}}
            </p>
          </div>
          <div style="padding-left:0.5em;">
            <p style="margin:0px; border:none; display:inline-block;">{{' ' + flight.aircraft + ', ' + (flight.pilotObject.displayName||flight.pilot) + '/ ' + 
                 (flight.coPilotObject.displayName||flight.coPilot)+', '}}<strong ng-style="status.getFontColor(flight.tfliteDepart,flight.pfr.legArray[flight.pfr.legArray.length-1].onTimeString)">{{flight.flightStatus}}</strong>
                 <i ng-if="flight.knownIce" class="fa fa-solid fa-snowflake fa-autosize"></i>
                 <i ng-if="flight.ocRelease||flight.dispatchRelease" class="fa fa-solid fa-thumbs-up fa-autosize"></i>
                 <i ng-if="flight.pilotAgree" class="fa fa-solid fa-rocket fa-autosize" ng-class="status.korey(flight.pilot)"></i></p>
            <br>
            <div style="display:inline-block;">
              <p style="border:none;">
                {{flight.departTimes[0].substring(0,5) + ' - ' + flight.departTimes[flight.departTimes.length-1].substring(0,5)}}
                &nbsp
                <strong style="color:green">{{flight.tfliteDepart}}</strong>&nbsp-&nbsp
                <strong style="color:purple"> {{flight.pfr.legArray[flight.pfr.legArray.length-1].onTimeString}}</strong>
              </p>
            </div>
            <div class="airport-card" ng-repeat="metarObj in flight.airportObjs track by $index">
              <!-- status.overallRiskClass(metarObj)  -->
              <!--ng-click="status.clickAirport(metarObj)"-->
              <div ng-class="metarObj.color">
                <p style="margin:0px;padding:5px" tooltip-placement="bottom" uib-tooltip="{{metarObj['Raw-Report']}}"
                      ng-mousedown="status.handleClick($event,metarObj,'metar',flight._id,$index)">{{metarObj.airport.threeLetter}}</p>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <!--<div ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" style="height:3em"></div>-->
   </div>
   <div class="alts">
     <div><h1 style="width:100%; text-align:center;">Alternate Airports</h1></div>
     <div class="alternate-airport" ng-class="status.altClass(alt)" ng-repeat="alt in status.alternateAirports | orderBy:'_id'"
            uib-tooltip="{{status.getNextTAF(alt.metarObj.TAF).raw}}" ng-click="status.tafDisplay('The TAF for ' +alt.name+' is: ',alt.metarObj.taf)">
       {{alt.threeLetter}}
     </div>
   </div>
  </div>
  <div ng-class="status.getColumn()">
    <div ng-repeat="pilot in status.sortedPilots track by $index">
      <h1 ng-if="status.showHeader('sortedPilots','header',$index)">{{pilot.header}}</h1>
      <h1 ng-if="status.fixedWing('HEL')&&$index===0">Helicopter Pilots</h1>
      <p>{{pilot.name + '-' + pilot.code}}</p>
    </div>
  </div>
  <div ng-class="status.getColumn()">
    <div ng-repeat="airplane in status.displayedAircraft track by airplane._id">
      <p ng-if="status.showHeader('displayedAircraft','acftType',$index)" class="smaller">{{airplane.acftType}}</p>
      <p>{{airplane._id}}</p>
    </div>
  </div>
  <!--<div ng-class="status.getColumn()">
    <h1 ng-if="status.fixedWing()">Unassigned Flights</h1>
    <h1 ng-if="!status.fixedWing()">Unassigned Missions</h1>
    <div ng-repeat="flight in status.unassignedFlights track by $index">
      <p uib-tooltip="{{flight.airports.toString()}}" ng-click="status.choose('unassignedFlights',flight._id)"
           ng-class="status.chosenClass(flight.chosen)">{{flight.flightNum}}</p>
    </div>
  </div>-->
  <div ng-if="status.fixedWing()" ng-class="status.getColumn()">
    <div ng-if="status.base.base==='OME'">
      <div style="width:100%;text-align:center;">
        <h1>Beech 1900s</h1>
      </div>
      <div class="grid-parent-right" ng-repeat="airplane in status.airplanesB190 track by $index">
        <div class="airport" style="align-self:center">
          <p style="padding-left:5px; padding-right:10px;">{{airplane.registration}}</p>
        </div>
        <div class="comment"  style="align-self:top">
          <ui-select ng-style="modal.getWidth(12,'em')" style="line-height:28px;height:28px" ng-model="airplane.status" theme="selectize" ng-change="status.editConfiguration(airplane)">
            <ui-select-match style="line-height:28px;height:28px" placeholder="None">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="choice in status.B190Configs" >
              <div ng-bind-html="choice | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        <!--<div class="comment"  style="align-self:center" ng-click="status.editConfiguration(airplane)">
          <p>{{airplane.status}}</p>-->
        </div>
      </div>
      <div style="width:100%;text-align:center;">
        <h1>King Air 200s</h1>
      </div>
      <div class="grid-parent-right" ng-repeat="airplane in status.airplanesBE20 track by $index">
        <div class="airport" style="align-self:center">
          <p style="padding-left:5px; padding-right:10px;">{{airplane.registration}}</p>
        </div>
        <div class="comment"  style="align-self:top">
          <ui-select ng-style="modal.getWidth(12,'em')" style="line-height:28px;height:28px" ng-model="airplane.status" theme="selectize" ng-change="status.editConfiguration(airplane)">
            <ui-select-match style="line-height:28px;height:28px" placeholder="None">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="choice in status.BE20Configs" >
              <div ng-bind-html="choice | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        <!--<div class="comment"  style="align-self:center" ng-click="status.editConfiguration(airplane)">
          <p>{{airplane.status}}</p>-->
        </div>
      </div>
    </div>
    <div style="width:100%;text-align:center;">
      <h1>Airport Legend</h1>
    </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="airport-green">Green</p>
        </div>
        <div class="comment" style="align-self:center; padding-top:6px" >
          <p>Low Risk</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="airport-yellow">Yellow</p>
        </div>
        <div class="comment" style="align-self:center; padding-top:6px" >
          <p>Med Risk</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="airport-orange">Orange</p>
        </div>
        <div class="comment" style="align-self:center; padding-top:6px" >
          <p>OC Required</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="airport-pink">Red</p>
        </div>
        <div class="comment" style="align-self:center; padding-top:6px" >
          <p>Below IFR</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="airport-blue">Blue</p>
        </div>
        <div class="comment" style="align-self:center" >
          <p>Missing Report</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="airport-purple">Purple</p>
        </div>
        <div class="comment" style="align-self:center" >
          <p>Missing Ceil/Vis/Altm</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="night airport-green">Night</p>
        </div>
        <div class="comment" style="align-self:center" >
          <p>Scheduled for Night</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="unofficial airport-green">Unofficial</p>
        </div>
        <div class="comment" style="align-self:center" >
          <p>Unofficial Weather</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="airport-stripe">10 Hrs</p>
        </div>
        <div class="comment" style="align-self:center" >
          <p>More than 10 Hrs Old</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <p class="airport-gray">Non-Pilot</p>
        </div>
        <div class="comment" style="align-self:center" >
          <p>Report by Non-Pilot</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <i class="fa fa-solid fa-thumbs-up fa-autosize" aria-hidden="true"></i>
        </div>
        <div class="comment" style="align-self:center" >
          <p>Flight Released</p>
        </div>
      </div>
      <div class="grid-parent-right">
        <div class="comment" style="align-self:center; padding-top:6px">
          <i class="fa fa-solid fa-rocket fa-autosize" aria-hidden="true"></i>
        </div>
        <div class="comment" style="align-self:center" >
          <p>Pilot Acceptance</p>
        </div>
      </div>
      
      
  </div>
</section>
<section ng-if="status.view==='next'&&status.Auth.isAdmin()" style="background-color:#ffffcc; padding-left:10px;">
  <h3>FIKI View</h3>
  <div style="display:inline-block;">
    <h5 style="display:inline-block; margin-right:20px;">Bulk Edit FIKI --></h5>
    <div class="comment"  style="display:inline-block;">
      <ui-select ng-style="modal.getWidth(25,'em')" style="line-height:28px;height:28px" ng-model="status.positiveFiki" theme="selectize" ng-change="status.bulkFIKI(status.positiveFiki)">
        <ui-select-match style="line-height:28px;height:28px" placeholder="No Selection">&nbsp&nbsp&nbsp{{$select.selected}}&nbsp&nbsp&nbsp</ui-select-match>
        <ui-select-choices repeat="choice in status.bulkFIKIChoices" >
          <div ng-bind-html="choice | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    <!--<div class="comment"  style="align-self:center" ng-click="status.editConfiguration(airplane)">
      <p>{{airplane.status}}</p>-->
    </div>
  </div>
  <table class="table table-hover" style="font-weight:bold;">
    <thead>
      <tr>
        <th><span style="float:right;">FIKI? &nbsp</span></th>
        <th>&nbsp Flight#</th>
        <th style="text-align:center;">Departs</th>
        <th style="text-align:center;">Crew</th>
        <th>Routing</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="flight in status.todaysFlights | filter:status.todaysFlightDisplayFilter | orderBy:'departTimes[0]'">
        <td>
          <div>
            <span style="float:right">
              <input class="form-control" style="width:42px; height:42px; margin:10px; padding:10px;" type="checkbox" 
                ng-model="flight.knownIce" ng-change="status.updateKnownIce(flight)">
            </span>
          </div>  
        </td>
        <td>
          <div>
            <p style="margin:10px; padding:10px; border:1px solid black; text-align:center; width:6em;" ng-class="flight.colorLock||flight.color" 
                    ng-click="status.lookAtFlight(flight)">
              {{status.getFlightNum(flight)}}
            </p>
          </div>
        </td>
        <td><p style="margin:10px; padding:10px; text-align:center;">{{flight.departTimes[0].toString().substring(0,5)}}</p></td>
        <td><p style="margin:10px; padding:10px; text-align:center;">{{flight.pilotObject.displayName||flight.pilot}}/{{flight.coPilotObject.displayName}}</p></td>
        <td>
          <div class="airport-card" ng-repeat="metarObj in flight.airportObjs track by $index">
            <div ng-class="metarObj.color">
                <p style="margin:0px;padding:10px" tooltip-placement="bottom" uib-tooltip="{{metarObj['Raw-Report']}}"
                    ng-mousedown="status.handleClick($event,metarObj,'metar',flight._id,$index)">{{metarObj.airport.threeLetter}}</p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<section style="background-color:#ffffcc;margin:auto;width:75%;" ng-if="status.view==='load'&&status.Auth.isUser()">
  <h3>Loads Available View</h3>
  <div ng-repeat="flight in status.todaysFlights | filter:status.todaysFlightDisplayFilter | orderBy:'departTimes[0]'">
    <div ng-show="flight.active==='true'" class="light-border" ng-class="status.activeClass(flight.active)">
      <div class="grid-parent-airport">
        <div>
          <p style="margin:10px; padding:10px; border:1px solid black; text-align:center; width:6em;" ng-class="flight.colorLock||flight.color" 
                  ng-click="status.lookAtFlight(flight)">
            {{status.getFlightNum(flight)}}
          </p>
        </div>
        <div style="padding-left:0.5em;">
          <p style="margin:0px; border:none; display:inline-block;">{{' ' + flight.aircraft + ', ' + (flight.pilotObject.displayName||flight.pilot) + '/ ' + 
               (flight.coPilotObject.displayName||flight.coPilot)+', '}}<strong>{{flight.flightStatus}}</strong></p>
               
          <br>
          <div style="display:inline-block;">
            <p style="border:none;">{{flight.departTimes[0].substring(0,5) + ' - ' + flight.departTimes[flight.departTimes.length-1].substring(0,5)}}&nbsp;<strong>LOAD AVAILABLE: {{status.laCalc(flight)}}</strong></p>
          </div>
        </div>  
      </div>
    </div>  
  </div>
</section>
<section style="background-color:#ffffcc;margin:auto;width:90%;" ng-if="status.view==='fuel'&&status.Auth.isUser()">
  <h3>Fuel View</h3>
  <div ng-repeat="flight in status.todaysFlights | filter:status.todaysFlightDisplayFilter | orderBy:'departTimes[0]'" ng-class="status.fuelFlightColor(flight)">
    <div ng-show="flight.active==='true'" class="light-border" ng-class="status.activeClass(flight.active)">
      <div class="grid-parent-fuel">
        <div>
          <p style="margin:10px; padding:10px; border:1px solid black; text-align:center; width:6em;" ng-class="flight.colorLock||flight.color" 
                  ng-click="status.lookAtFlight(flight)">
            {{status.getFlightNum(flight)}}
          </p>
        </div>
        <div style="padding-left:0.5em;">
          <p style="margin:0px; border:none; display:inline-block;font-weight:bold">{{' ' + flight.aircraft + ', ' + (flight.pilotObject.displayName||flight.pilot) + '/ ' + 
               (flight.coPilotObject.displayName||flight.coPilot)+', '}}<strong ng-style="status.getFontColor(flight.tfliteDepart,flight.pfr.legArray[flight.pfr.legArray.length-1].onTimeString)">{{flight.flightStatus}}</strong></p>
               
          <br>
          <div style="display:inline-block;">
            <p style="border:none;">
              {{flight.departTimes[0].substring(0,5) + ' - ' + flight.departTimes[flight.departTimes.length-1].substring(0,5)}}
              &nbsp<strong style="color:green">{{flight.tfliteDepart}}</strong>&nbsp-&nbsp<strong style="color:purple"> {{flight.pfr.legArray[flight.pfr.legArray.length-1].onTimeString}}</strong>
            </p>
          </div>
        </div>  
        <div style="padding-left:0.5em;" ng-if="flight.pfr.legArray[0].fuel&&flight.pfr.legArray[0].fuel>99">
          <p>Fuel Request:</p>
          <p style="font-weight:bold">{{status.fuelRequest(flight)}}</p>
        </div>
        <div style="padding-left:0.5em;" ng-if="!flight.pfr.legArray[0].fuel||flight.pfr.legArray[0].fuel<100">
          <p>NOT READY</p>
        </div>
        <div style="padding-left:0.5em;">
          <p>
            <input type="checkbox" ng-model="flight.fueled" ng-click="status.getFuel(flight)" style="accent-color:green" ng-disabled="!flight.pfr">
            &nbspFueler&nbsp<input style="width:30px" type="text" ng-model="flight.fueledBy" ng-blur="status.getFuel(flight,'initials')" ng-disabled="!flight.pfr">/{{flight.fueledTimestamp||''}}
            <!--&nbspTruck#&nbsp<input style="width:20px" type="text" ng-model="flight.truck" ng-blur="status.getFuel(flight,'truck')" ng-disabled="!flight.pfr">-->
          </p>
          <!--<p>
            Start&nbsp<input style="width:50px" type="text" ng-model="flight.startFuel" ng-blur="status.getFuel(flight,'start')" ng-disabled="!flight.pfr">
            &nbspStop&nbsp<input style="width:50px" type="text" ng-model="flight.stopFuel" ng-blur="status.getFuel(flight,'stop')" ng-disabled="!flight.pfr">
            &nbspGallons Uplifted&nbsp<input style="width:30px" type="text" ng-model="flight.gallonsUplifted" ng-blur="status.getFuel(flight,'gallons')" ng-disabled="!flight.pfr">
          </p>-->
        </div>
        <div style="padding-left:0.5em;">
          <p>Load Available</p>
          <p style="font-weight:bold">{{status.laCalc(flight)}}</p>
        </div>
      </div>
    </div>  
  </div>
</section>

