.layout-OME {
  width: 100%;

  display: grid;
  grid:
    ". . . ."
    / 2fr 1fr 1fr 3fr 1fr;
  gap: 8px;
}

.layout-OTZ {
  width: 100%;

  display: grid;
  grid:
    ". . . ."
    / 2fr 1fr 1fr 3fr;
  gap: 8px;
}

.layout-UNK {
  width: 100%;

  display: grid;
  grid:
    ". . . ."
    / 2fr 1fr 1fr 3fr;
  gap: 8px;
}

.layout-HEL {
  width: 100%;

  display: grid;
  grid:
    ". . . ."
    / 1fr 1fr 3fr;
  gap: 8px;
}

.sidebar { grid-area: sidebar; }
.body { grid-area: body; }

.status-column{
    height:calc(100vh - 50px);
    font-size:1.5em;
    overflow:auto;
}

.status-column-flights{
    font-size:1.5em;
}

.todays-flights{
  height:70vh;
  overflow:auto;
}

.alts{
  height:30vh;
}

.status-column-header{
    font-size:2em;
}

.below-header{
  position:sticky;
  top:10vh;
}

.status-header{
  position:sticky;
  top: 0;
}

.smaller{
  font-size:0.75em;
  font-weight:bold;
  color:red;
}

.airport-card{
  display:inline-block;
  margin-left:0.5em;
  border:1px solid black;
}

.night{
  border:5px solid black;
}

.grid-parent{
  display: grid; 
  grid-template-columns: 2fr 1fr 6fr; 
  grid-gap: 0px; 
  border: 1px solid black; 
  width: 100%; 
}

.grid-parent-airport{
  display: grid; 
  grid-template-columns: 1fr 9fr; 
  grid-gap: 0px; 
  width: 100%; 
  padding-left:0.5em;
  align-items:center;
}

.grid-parent-right{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 0px; 
  align-items:center;
  border: 1px solid black; 
  width: 100%; 
}

.grid-parent-navbar{
  display: grid; 
  grid-template-columns: 4fr 1fr;
  grid-gap: 0px;
}

.inactive{
  background-color: lightgray;
  opacity: 0.5;
}

.stopped{
  background-color: pink;
}

.comment{
  text-align:center;
  background: rgba(51, 170, 51, .02);
}

.airport{
  font-size:1.5em;
  text-align:center;
}

.alternate-airport{
  display:inline-block;
  font-size:1.5em;
  text-align:center;
  margin:10px;
  padding:10px;
}

.airport-green{
  background-color:lightgreen;
}

.airport-pink{
  background-color:pink;
}

.airport-yellow{
  background-color:yellow;
}

.airport-orange{
  background-color:orange;
}

.airport-blue{
  background-color:lightblue;
}

.airport-purple{
  background-color:#DAB1DA;
}

.chosen{
  border:2px dashed green;  
  padding:0.03em 0.25em;
}

.light-border{
  font-size: 0.75em;
  border:1px solid black;
}

.assess{
  padding:7px;
  margin:7px;
}

.tiny{
  font-size:.5em;
  margin:0px;
}