<div>
    <button class="btn btn-link space">
      <ul class="nav navbar-nav">    
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Filter by Pilot <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li ng-repeat="pilot in viewAssessments.pilots">
                  <a ng-click="viewAssessments.setPilot(pilot.displayName)" href="#">{{pilot.displayName}}</a>
                </li>
            </ul>
        </li>
      </ul>
    </button>
    <button class="btn btn-link space">
      <ul class="nav navbar-nav">    
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Filter by Date <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                  <a ng-click="viewAssessments.setDate('All')" href="#">--Show All Dates</a>
                </li>
                <li><br></li>
                <li>
                  <md-datepicker ng-change="viewAssessments.setDate('One')" ng-model="viewAssessments.myDate" md-placeholder="Enter date"></md-datepicker>
                </li>
            </ul>
        </li>
      </ul>
    </button>
</div>
<table class="table table-striped table-responsive">
    <thead>
        <th></th>
        <th>Date</th>
        <th>Flight#</th>
        <th>Pilot</th>
        <th>Aircraft</th>
        <th>Airports</th>
        <th>Metar</th>
        <th>Taf</th>
        <th>Vis</th>
        <th>Ceil</th>
        <th>Wind</th>
        <th>Runway</th>
        <th>FZ</th>
    </thead>
    <tbody>
      
          <tr ng-repeat-start="assessment in viewAssessments.assessmentsDisplay track by $index">    
            <td><button class="btn btn-success assess" style="padding-top:12px;" ng-click="viewAssessments.expand($index)">Expand</button></td>
            <td><div ng-class="assessment.color" class="assess">{{assessment.date|date:'medium'}}</div></td>
            <td><div class="assess">{{assessment.flight}}</div></td>
            <td><div class="assess">{{assessment.pilot}}</div></td>
            <td><div class="assess">{{assessment.equipment}}</div></td>
            <td><div class="assess">Airports</div></td>
            <td><div class="assess">Metar</div></td>
            <td><div class="assess">Taf</div></td>
            <td><div class="assess">Vis</div></td>
            <td><div class="assess">Ceil</div></td>
            <td><div class="assess">Wind</div></td>
            <td><div class="assess">Runway</div></td>
            <td><div class="assess">FZ</div></td>
          </tr>
          <tr ng-repeat-end ng-repeat="airport in assessment.airports track by $index" ng-if="assessment.expand">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><div ng-class="assessment.colors[$index]" class="assess">{{airport}}</div></td>
              <td><div class="assess" uib-tooltip="{{assessment.metars[$index]}}" tooltip-placement="bottom"><button>metar</button></div></td>
              <td><div class="assess" uib-tooltip="{{assessment.tafs[$index]}}" tooltip-placement="bottom"><button>taf</button></div></td>
              <td><div class="assess">{{assessment.visibilities[$index]}}</div></td>
              <td><div class="assess">{{assessment.ceilings[$index]}}</div></td>
              <td><div class="assess">{{assessment.windGusts[$index]}}</div></td>
              <td><div class="assess">{{assessment.runwayConditions[$index]}}</div></td>
              <td><div class="assess">{{assessment.freezingPrecipitations[$index]}}</div></td>
          </tr>
      
    </tbody>
</table>
