<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container" style="width:95%;padding:0px;" ng-class="nav.stoppedClass(nav.stopped)">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a href="/" class="navbar-brand">Assessment and Status</a>-->
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="mailto:smirciat@gmail.com?body=Please give me enough information to re-create the bug you noticed so I can work on it. I appreciate the help!?subject=Status App Bug Report" target="_blank">Report Bug</a></li>
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        <li ng-show="nav.Auth.isSuperAdmin()" ui-sref-active="active"><a ui-sref="audit">Audit</a></li>
        <li style="padding-left:1em;padding-top:7px;">
          <div >
            <a style="float:left" href='#' ng-click="nav.minusDate()"><button class="btn btn-info" style="height:40px"><i class="fa fa-angle-left fa-autosize space-if"></i></button></a>
            <a style="float:right" href='#' ng-click="nav.plusDate()"><button class="btn btn-info" style="height:40px"><i class="fa fa-angle-right fa-autosize space-if"></i></button></a>
              <div style="padding-left:0px;padding-top:0px" class="input-group">
                <input style="height:40px;width:150px;" type="text" ng-model="nav.dateStringFormatted" ng-blur="nav.upDate('string')">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="nav.isDatepickerOpen = !nav.isDatepickerOpen">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
                <input style="display:none" type="text" class="form-control" uib-datepicker-popup="EEEE MMM d, yyyy" ng-model="nav.date" ng-change="nav.upDate()" 
                   is-open="nav.isDatepickerOpen" datepicker-options="nav.datepickerOptions" ng-required="true" close-text="Close" 
                   alt-input-formats="altInputFormats"/>
              </div>
              <!--<h5 ng-class="nav.socket">S</h5>-->
          </div>
        </li>
        <li style="padding-top:7px;padding-left:2em;">
          <ui-select style="width:10em;" ng-model="nav.base" theme="selectize" ng-disabled="disabled" ng-change="nav.updateBase()">
              <ui-select-match placeholder="Choose...">{{$select.selected.base}}</ui-select-match>
              <ui-select-choices repeat="base in nav.bases" >
                <div ng-bind-html="base.base | highlight: $select.search"></div>
              </ui-select-choices>
          </ui-select>
        </li>
        <li ng-if="false&&nav.isAdmin()" style="padding-top:7px;padding-left:2em;">
          <div class="grid-parent-navbar">
            <input class="form-control" tooltip-placement="bottom" uib-tooltip="Upload Pilot Schedule CSV File Here" type="file" id="file" name="file" ng-model="nav.file"/>
            <button ng-if="nav.fileExists" class="btn btn-default" ng-click="nav.uploadCSV()">Upload CSV</button>
          </div>
        </li>
        <li ng-if="nav.Auth.isUser()" style="padding-top:7px;padding-left:2em;">
          <button class="btn" ng-class="nav.filterButton(nav.isFilter)" ng-click="nav.changeIsFilter()" style="font-weight:bold">
            {{nav.buttonMessage(nav.isFilter)}}
          </button>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--<li><button ng-click="nav.toggleAssigned()" class="navbar-text" ng-class="nav.buttonClass(nav.isToggleAssigned)">{{nav.showHide(!nav.isToggleAssigned)}} Assigned</button></li>
        <li><button ng-click="nav.toggle()" class="navbar-text" ng-class="nav.buttonClass(!nav.isToggle)">{{nav.showHide(!nav.isToggle)}} Old</button></li>-->
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
