.bering{
  font-weight:bold;
  font-size:120%;
}
.md-button{
  margin-left:2em;
  margin-right:2em;
  font-size:120%;
}
.md-tooltip{
  font-size:100%;
}
.my-button{
  margin-left:2em;
  margin-right:2em;
  font-size:120%;
}

.md-green{
  background-color:#80ff80 !important;
}
.md-blue{
  background-color:#80bfff !important;
}
.md-yellow{
  background-color:#ffff00 !important;
}
.md-red{
  background-color:#ff3333 !important;
  color:white;
}
.md-orange{
  background-color:#ffa500 !important;
}
label{
  text-align:center;
}
md-select{
 padding-left:30px;
}
.bottom-row {
  padding-bottom:15px;
  border-bottom: 1px solid black;
}