.rot-nav {
  margin-bottom: 0;
  min-height: 40px;
  background-color: #ffffcc;
  border-top: none;
  border-radius: 0;
}

.rot-nav-inner {
  width: 95%;
  padding: 0;
}

.rot-nav .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.rot-nav .navbar-nav > .active > a,
.rot-nav .navbar-nav > .active > a:hover,
.rot-nav .navbar-nav > .active > a:focus {
  background-color: #ffe680;
  color: #333;
}
